body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ccc;
}

.accordion-button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-content {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  background-color: #f1f1f1;
}